@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');


.daddy-container {
    width: 100%;
    background-color: #122832;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #122832;
    color: #08e8de;
    border-color: #08e8de;
    width: 70px;
    height: 40px;
    font-family: 'Roboto Mono', monospace;
}

.contact {
    width: 80px;
    height: 50px;
    margin-left: 90%;
}

.picture {
    width: 320px;
    height: 320px;
    border: solid white 1px;
}

img {
    width: 300px;
    height: 300px;
    padding: 10px;
    max-width: 100%;
    border-radius: 30px;
}

.line {
    margin-left: 10px;
    height: 320px;
    width: 2px;
    background-color: white;
}

.welcome {
    width: 60%;
    height: 320px;
    margin-left: 15px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    color: #08e8de;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: lightgray;
}

p {
    font-family: 'Gajraj One', cursive;
    font-size: large;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30px;
    margin-left: 20px;
    border: #08e8de solid 2px;
    margin-top: 40px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30px;
    margin-left: 20px;
    border: #08e8de solid 2px;
    margin-top: 40px;
}

.portfolio h1 {
    padding: 5px;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30px;
    margin-left: 20px;
    border: #08e8de solid 2px;
    margin-top: 40px;
}

.resume h1 {
    padding: 5px;
}

.about2 {
    margin-top: 40px;
    width: 60%;
    padding-left: 10px;
    display: block;
}

.about2 p {
    font-family: 'Roboto Mono', monospace;
    color: #08e8de;
    font-size: 30px;
}

.resume2 {
    margin-top: 40px;
    width: 60%;
    padding-left: 10px;
    display: none;
}

.resume2 p {
    font-family: 'Roboto Mono', monospace;
    color: #08e8de;
    font-size: 30px;
}

.portfolio2 {
    width: 70%;
    margin-top: 40px;
    padding-left: 10px;
    display: none;
}

.portfolio3 {
    display: flex;
    width: 100%;
    height: 100%;
    border: white 2px solid;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.p1 {
    height: 100%;
    width: 100%;
    display: block;
}

.p1 p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #08e8de;
    font-size: 25px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 100%;
}


.material-symbols-outlined {
    margin-left: auto;
    margin-right: auto;
    color: #08e8de;
    font-variation-settings:
        'FILL' 6,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.p2 {
    height: 100%;
    width: 100%;
    display: none;
}

.p2 p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #08e8de;
    font-size: 100px;
}

.son {
    display: flex;
    flex-wrap: nowrap;

}

.my-projects {
    width: 80%;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}


#textbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(18, 40, 50, 0.4);
    height: 370px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: solid 1px #08e8de;
}

.insidetextbox {
    max-width: 45%;
}